@import "tailwindcss";

body {
  font-family: "MyFont", sans-serif;
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts//Joyride.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  color: #eaf9fb !important;
  font-size: 200px;
  z-index: 999;
}
